* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 15px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
